<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title> <!-- This will render the title -->
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <header>
      <h1>Welcome to The Car Zone</h1>
      <nav>
        <a href="/">Home</a>
        <a href="/vehicles">Browse Vehicles</a>
        <a href="/login">Login</a>
        <a href="/register">Register</a>
      </nav>
    </header>

    <main>
      <div class="main-content">
        <div class="container">
          <h2>Rent the vehicle you need with ease!</h2>
          <a href="/vehicles" class="button">Browse Vehicles</a>
        </div>


      </div>
    </main>

    <footer>
      <p>&copy; 2025 The Car Zone. All rights reserved.</p>
    </footer>
  </body>
</html>
